.board {
	display: grid;
	grid-template-rows: 20vh 30vh 50vh;
}

.board--title {
	grid-row: 1;
}

.board--nav {
	display: flex;
	grid-row: 2;
	justify-content: space-evenly;
}

.board--cards {
	grid-row: 3;
	display: grid;
	grid-template-rows: 10% 90%;
}

.cards {
	display: flex;
	grid-column: 2;
	flex-wrap: wrap;
}

.icons {
	size: 50px;
	color: #f9f9f9;
	cursor: pointer;
}

.insetshadow {
	font-family: "Doris", sans-serif;
	margin: 2%;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	background-color: #b3b3b3;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.7);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}

h1 {
	font-size: 5.5vmax;
}

h2 {
	font-size: 2.75vmax;
}

h3 {
	text-transform: uppercase;
}

button {
	cursor: pointer;
}

.board-menu-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.card-menu-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.board--nav--edit-board {
	display: flex;
	flex-direction: column;
}

.board--nav--edit-text {
	white-space: nowrap;
	font-family: "Doris", sans-serif;
	margin: 2%;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	background-color: #010203;
	color: transparent;
	text-shadow: 0px 2px 3px #b3b3b3;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: #f9f9f9;
}

.board--nav--edit-board--icon {
	display: flex;
	flex-direction: row;
	align-items: center;
}
