.Card {
	justify-content: space-evenly;
	background-color: lemonchiffon;
	border: 1px solid black;
	box-shadow: 3px 3px 3px #555;
	display: flex;
	flex-direction: column;
	height: 200px;
	margin: 1rem;
	width: 200px;
}

.Card-message {
	font: 25px Georgia, 'Times New Roman', Times, serif;
	margin: 0.25rem;
}

.Card-likes {
	margin: 0.25rem;
}

.Card-buttons {
	display: flex;
	justify-content: space-evenly;
}

.card-icons {
	color: #466060;
	cursor: pointer;
}

.pin-icons {
	color: rgb(46, 45, 45);
	align-self: center;
}
