.board{
  display: grid;
  /* grid-template-columns: 15% 85%; */
  grid-template-rows: 20vh 10vh 70vh;
}

.board--title{
  grid-row: 1;
}

.board--nav{
  grid-row: 2;
  display: flex;
  justify-content: space-between;
}

.board--cards{
  grid-row: 3;
  display: grid;
  grid-template-rows: 10% 90%;
}

.cards {
  display: flex;
  grid-column: 2;
}