#sortMenu {
  border: 1px solid black;
  margin: 1rem;
  padding: .5rem;
  text-align: left;
  width: fit-content;
}

.sortMenuLabel {
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
}

.menuItem {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  font: 1rem 'Segoe UI', 'Roboto', sans-serif;
  margin-top: .25rem;
}

#checkMark {
  vertical-align: text-bottom;
}