.verify-delete-board {
  background-color: #fff;
  border: 1px dotted black;
  border-radius: 5px;
  font: bold black 1rem 'Dosis';
  padding: .5rem;
}

.verify-delete-board__button {
 margin: .5rem; 
}